form.auth {
  display: grid;
  gap: 15px;
  color: #fff;
  background: #202021;
  margin-left: 1px;
  border-radius: 5px;
  padding: 5%;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  z-index: 1;
  place-self: center;
  height: 80%;

  h1 {
    font-size: 32px;

    & + p {
      font-size: 20px;
    }
  }

  label {
    display: grid;
    gap: 12px;
    grid-template-rows: 24px 45px;

    input {
      background: #292C2F;
      border-radius: 7px;
      border-color: transparent;
      padding-inline-start: 18px;
      color: white;
    }
  }
}