span.password-wrapper {
  display: flex;
  background: #292C2F;
  border-radius: 7px;
  overflow: hidden;

  input {
    flex: 1 1 80%;
    border-radius: 0;
  }

  button {
    color: white;
    padding-inline: 10px;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
  }

  img {
    width: 70%;
    aspect-ratio: 1;
  }
}