form.login {
  grid-template-rows: repeat(4,auto) 1fr;
  
  .password-wrapper {
    display: flex;
    background: #292C2F;
    border-radius: 7px;
    overflow: hidden;

    input {
      flex: 1 1 80%;
      border-radius: 0;
    }

    button {
      color: white;
      padding-inline: 10px;
      background: transparent;
      border-color: transparent;
    }

    img {
      width: 70%;
      aspect-ratio: 1;
    }
  }

  p {
    font-size: 11px;
  }
  
  menu {
    display: grid;
    align-content: end;
    list-style: none;
    gap: 15px;
  }
}