.sidebar {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 79px;
  padding: 82px 25px;
  border-bottom-right-radius: 50px;
  background-color: white;
  color: black;
  
  body:has(> &) {
    grid-template-columns: max-content 1fr;
    background-color: #1D2125;
  }

  hr {
    margin-bottom: 49px;
    opacity: .5;
  }
}

.profile {
  display: grid;
  place-items: center;
  gap: 12px;
}